# Build output
dist/
.astro/

test/

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.production
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.resolved

.claude/
legacy/
implementation_plan.md